<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme" content="light">

    <title>HMI</title>

    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./modules/bootstrap/css/bootstrap.min.css">

</head>
<body class="container-fluid d-flex flex-column bg-light text-bg-light">

    <div class="position-fixed" style="right: 10px; top: 10px">
        <button class="btn btn-dark btn-theme-toggle" onclick="change_theme();">
            <img class="inverted" src="./image/sun.png" alt="dark-mode-toggle">
        </button>
    </div>

    <div class="my-2"></div>

    <div class="container-fluid d-flex justify-content-center">
        <h1 class="">HMI Browser Application</h1>
    </div>

    <hr>

    <div class="container">
        <h2>HMI Data</h2>
        <div class="container-fluid chart-container">
            <canvas id="temp-chart" class="chart"></canvas>
        </div>

    </div>

    <script src="./modules/jquery/js/jquery-3.6.0.js"></script>
    <script src="./modules/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="./modules/chartjs/js/chart.min.js"></script>
    <script src="./js/index.js"></script>

</body>
</html>